# Ignore all back-up files...
*~
*.bak

#ignore thumbnails created by windows
Thumbs.db

# Exclude Kdevelop4 files ...
.kdev*

# Exclude QtCreator and CMake files ...
CMakeLists.txt.user
*.pro.user*
moc*
*.app*
*.moc
*.dylib
*.so*
*.dll
*.lib
*.a
*.o
Makefile*
ui_*
qrc_*
CMakeFiles/*

#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.idb
*.sdf
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vspx
*.psess
*.opensdf

#Exclude C++  files ...
*.obj
*.dep

#ignore pyc files
*.pyc

#ignore Build directory
Build/*



vtk_data_cache/*
*.vcxproj
*.opendb

Server/node_modules/
!Server/bin/

Client/segasesu.zip
Client/segasesu/.idea
Client/segasesu/MKZ - semestrální práce.pdf
